html {
	background-image: url("https://raw.githubusercontent.com/bortoslovo/shop/main/images/pastries-2400x1600.jpg");
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  font-family: "Source Serif Pro", serif;
	color: white;
}

h1 {
	background-image: url("https://raw.githubusercontent.com/bortoslovo/shop/main/images/fireworks-79.gif");
	background-repeat: repeat -x;
	background-position: center;
	background-size: contain;
	padding: 50px;
	font-size: 3rem;
}

body {
	width: 60rem;
	margin: 20px auto 20px;
	background-color: black;
	padding: 10px 15px 20px 15px;
	border: 0.1rem solid #00564F;
}

h1 {
	border: 0.1rem solid #4300B7;
	text-align: center;
}


nav a {
	background-color: #001E28;
	margin: 0 2.6rem;
	border: 0.1rem solid pink;
	padding: 0.4rem 0.5rem;
	text-decoration: none;
}

nav li {
	list-style: none;
	display: inline-flex;
	font-weight: bold;
}

p {
  color: #FFB999;
}

h2 {
	color: #99FFB9;
	font-size: 1.2rem;
}

h3 {
	color: #AFCFFC;
}

.ofertas {
	text-align: center;
}

.ofertas-gif {
	display: block;
	margin: 0 auto;
}	

:any-link {
	color: lightblue;
}

.hors {
  background: linear-gradient(to right,
      red, orange, yellow, green, blue, indigo, violet);
}

.hors-a {
	color: black;
}


.platos { 
  background: radial-gradient(blue, indigo, green);
}

.postres {
  background: repeating-linear-gradient(45deg,
      #00564F, #00564F 0.3rem, #4300B7 0.1rem, #4300B7 0.6rem);
	color: white;
}

.pasteleria {
	background: rgb(231,131,0);
	background: linear-gradient(27deg, rgba(231,131,0,1) 0%, rgba(6,150,139,1) 35%, rgba(254,255,0,1) 100%); 
	color: navy;
}

.main-nav a:hover {
 background: rgb(143,254,255);
background: linear-gradient(90deg, rgba(143,254,255,1) 0%, rgba(255,168,168,1) 46%, rgba(162,159,255,1) 100%); 
	color: black !important;
}

.front-bakery {
	display: block;
	margin: 0;
}

.intro {
	display: flex;
}

.intro1 {
	margin: 0 10px;
	width: 30%;
}

.emoji-wink {
	margin: 0 0 -4px 0;
}

.social-media {
}

.social-media a {
	margin: 0 10px;
}

.bakery {
	display: flex;
	flex: auto;
}

.bakery h2 {
	color: coral;
}

.bakery p {
	color: magenta;
	font-weight: bold;
	font-size: 1.5rem;
}

.contact-1 {
	margin: 0 20px;
	width: 20%;
}

.contact-2 {
	margin: 0 0px;
	width: 20%;
}
