html {
	background-image: url("https://raw.githubusercontent.com/bortoslovo/shop/main/images/pastries-2400x1600.jpg");
	/*	background: black; */
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
  font-family: "Source Serif Pro", serif;
	color: white;
}

h1 {
	background-image: url("https://raw.githubusercontent.com/bortoslovo/shop/main/images/fireworks-79.gif");
	background-repeat: repeat -x;
	background-position: center;
	background-size: contain;
	padding: 45px;
}

body {
	width: 900px;
	margin: 20px auto;
	background-color: black;
	border: 0.1rem solid #00564F;
	padding: 20px 10px;
}

h1 {
	border: 0.1rem solid #4300B7;
	text-align: center;
}

nav ul {
	display: flex;
	justify-content: space-around;
	padding: 0;
}


nav a {
	background-color: #001E28;
	border: 0.1rem solid pink;
	padding: 0.4rem 0.5rem;
	text-decoration: none;
}

nav li {
	list-style: none;
	display: inline-flex;
	font-weight: bold;
	align-items: center;
}

p {
  color: #FFB999;
}

.intro1 h3 {
	color: #99FFB9;
}

h3 {
	color: #AFCFFC;
}

.ofertas {
	margin: 2rem 0;
	text-align: center;
}

.ofertas-gif {
	display: block;
	margin: 0 auto;
}	

:any-link {
	color: lightblue;
}

.hors {
  background: linear-gradient(to right,
      red, orange, yellow, green, blue, indigo, violet);
}

.hors-a {
	color: black;
}


.platos { 
  background: radial-gradient(blue, indigo, green);
}

.postres {
  background: repeating-linear-gradient(45deg,
      #00564F, #00564F 0.3rem, #4300B7 0.1rem, #4300B7 0.6rem);
	color: white;
}

.pasteleria {
	background: rgb(231,131,0);
	background: linear-gradient(27deg, rgba(231,131,0,1) 0%, rgba(6,150,139,1) 35%, rgba(254,255,0,1) 100%); 
	color: navy;
}

.main-nav a:hover {
 background: rgb(143,254,255);
background: linear-gradient(90deg, rgba(143,254,255,1) 0%, rgba(255,168,168,1) 46%, rgba(162,159,255,1) 100%); 
	color: black !important;
}

.intro {
	margin: 2rem 0;
	display: flex;
}

.intro1 {
	margin: 0 10px;
	width: 30%;
}

.intro1 h3 {
	margin: 0 10px;
	text-align: center;
}

.intro1 {
	margin: 0 10px;
	width: 30%;
	text-align: justify;
}

.emoji-wink {
	margin: 0 0 -4px 0;
}

.social-media {
}

.social-media a {
	margin: 0 10px;
}

.bakery {
	margin: 2rem 0;
	display: flex;
}

.bakery h2 {
	color: coral;
}

.bakery p {
	color: magenta;
	font-weight: bold;
}

.contact-1 {
	text-align: center;
	width: 30%;
	margin: 0 auto;
}

.social-media {
	display: flex;
	justify-content: space-around;
}
